{% extends 'base.html' %}
{% block title %} New Blog Post {% endblock %}


{% block content %}
<h1 class="my-3">Add a post for {{user.first_name}} {{user.last_name}}</h1>

<form action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title" class="form-label">Title: </label>
    <input type="text" name="title" id="title" class="form-control" required>

    <label for="content" class="form-label">Content: </label>
    <textarea name="content" id="content" cols="30" rows="10" class="form-control" required></textarea>

    <div class="d-flex justify-content-end my-3">
        <a href="/users/{{user.id}}" class="btn btn-outline-primary">Cancel</a>
        <button class="btn btn-success mx-2">Add</button>
    </div>

</form>


{% endblock %}